.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.container div {
    margin-top: 0;
}

.container svg {
    color: #999999;
}

.container .deleteButton {
    padding: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.hiddenTitle {
    visibility: hidden;
    display: inline-block;
    height: 1rem;
}