.text-input,
.text-input-error {
	border-radius: 8px;
	border: 1px solid #dddddd;
	width: 400px;
	height: 3rem;
	gap: 10px;
	box-sizing: border-box;
	outline: none;
	font-family: 'Inter';
	font-size: 1em;
	padding-left: 1rem;
	padding-right: 1rem;
}
.text-input::placeholder {
	color: #999999;
	font-size: 1em;
	height: 3em;
	line-height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: 'Inter';
}
.text-input:focus {
	border: 2px solid #dddddd;
	color: #2e2929;
	padding-left: 1rem;
}

.text-field-label {
	font-size: 1rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	white-space: nowrap;
}

.text-input-group {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.text-input-error {
	border-color: #ff5252;
}

.text-input-error:focus {
	border-width: 2px;
}

p.error-message {
	color: #ff5252;
}
