.container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 0.5rem;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.headerTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

p.headerSubtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
}

.filters {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

.filters div:hover {
    background-color: #FFFFFF;
}

.dropdownFiltersContainer {
    display: flex;
}

.header .addEventButton {
    width: 9.875rem;
    height: 2.75rem;
    border: 1px solid #000000;
    padding: 0.857rem 2rem 0.875rem 1.5rem;
    background-color: #000000;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.header .addEventButton:hover {
    background-color: #000000;
}

.addEventButton svg {
    width: 1.5rem;
    height: 1.5rem;
}