.contentContainer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}

.footer {
	margin-top: auto;
}

.mainContent {
	height: calc(100vh - 128px);
	overflow-y: auto;
}
