.eventContainer {
	min-height: 100vh;
	margin-top: 2%;
}

.gridContainer .gridItem {
	min-height: 10vh;
	margin-bottom: 3%;
}

.gridContainer .gridItem .details{
	margin-left: 20%;
	margin-top: 35%;
}

.moreEventsLikeThis {
	min-height: 10vh;
}

.details {
	width: 100%;
}
