fieldset.MuiOutlinedInput-notchedOutline {
	border: 0;
}

.icon-button {
	padding: 0 !important;
}

#appBar {
	background-color: white;
}

#searchBarBox {
	display: 'flex';
	align-items: 'flex-end';
	flex-grow: 1;
}
