* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.reset-password-header {
	width: 400px;
	margin-bottom: 2rem;
}


.header-title {
	white-space: nowrap;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;

}


p {
	font-size: 1em;
	width: 27rem;
}

p.error-message {
	color: #ff5252;
}

body {
	min-height: 100vh;
}

.reset-password-section {
	width: 400px;
	position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
