.inputWrapper {
    height: 320px;
    border:1px solid #dddddd;
    border-top:none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .subheader {
    margin-bottom: 0.5rem;
}