.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }

  .media,
  .content {
    border-radius: 12px;
  }
}