.modalBox {
  width: 50rem;
  min-height: 34.5rem;
  max-height: 35rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modalBox .modalBoxHeader {
  border-bottom: 1px solid #dddddd;
  padding: 1rem 0.75rem 1rem 1.5rem;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.modalBox .modalBoxFooter {
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  height: 4rem;
}

.modalBoxHeaderContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.01fr;
}

.modalBoxHeaderContentCloseIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBoxHeaderContentCloseIcon :hover{
  background-color: #F7F7F7;
  border-radius: 8px;
}

.modalContent {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none; 
}
