.notif-icon {
	color: black;
}

.icon-button {
	padding: 0 !important;
}

#appBar {
	background-color: white;
	border-bottom: 1px solid #e0e0e0;
}

#notifBox {
	margin-inline: 2rem;
}

#profileMenuAppbar > .MuiPaper-root {
	margin-top: 45px;
}
