.textInput,
.textInputError {
	border-radius: 8px;
	border: 1px solid #dddddd;
	width: 400px;
	height: 3rem;
	gap: 10px;
	box-sizing: border-box;
	outline: none;
	font-family: 'Inter';
	font-size: 1em;
	padding-left: 1rem;
	padding-right: 1rem;
}
.textInput::placeholder {
	color: #999999;
	font-size: 1em;
	height: 3em;
	line-height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: 'Inter';
}
.textInput:focus {
	border: 2px solid #dddddd;
	color: #2e2929;
	padding-left: 1rem;
}

.textFieldLabel {
	font-size: 1rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	white-space: nowrap;
}

.textInputGroup {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}