.guest-footer {
	background-color: transparent;
	align-items: center;
}

.guest-footer .MuiBottomNavigationAction-root {
	margin-inline: 5px;
	border-right: 1px solid #e0e0e0;
}

.guest-footer .last-button {
	border-right: none;
}

.user-footer {
	display: flex;
	justify-content: space-between !important;
	background-color: white;
	border-top: 1px solid #e0e0e0;
	height: 4rem;
}
