.login-main {
    position: absolute;
    width: 25em;
    height: 392px;
    top: 214px;
    left: 556px;
    gap: 0dd;
    border-radius: 100px;
    border: 1px;

}

.forgot-password {
    font-size: 0.7em;
    color: #999999;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

#welcome-message {
    font-size: 1.4rem;
    margin-left: -35px;
}

#directions {
    position: relative;
    font-size: 0.65rem;
    font-weight: 400;
    margin-top: 0.4rem;
    margin-left: -35px;
}

#loginForm {
    position: fixed;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    text-align: center;
}

.top-margin {
    margin-top: 1.5rem;
}

.input-label {
    display: block;
    color: rgba(0, 0, 0, 1);
    font-size: 0.7rem;
    margin-left: -310px;
    margin-bottom: 10px;
    font-family: 'Inter';
}

#email,
#password {
    width: 98%;
    height: 3rem;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-family: 'Inter';
}
