.forgot-password-section {
    width: 25rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forgot-password-header-title {
    white-space: nowrap;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    width: 25rem;
    text-align: center;
}
.forgot-password-header-text {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    font-size: 0.875rem;
    width: 25rem;
    text-align: center;
}
.forgot-password-link {
    color: #000000;
    font-weight:600;
    text-decoration: none;
}
.forgot-password-link-wrapper {
    width: 25rem;
    text-align: center;
    margin-top: -1rem;
}