.forgotPasswordSection {
	width: 25rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.forgotPasswordHeaderTitle {
	white-space: nowrap;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2rem;
	width: 25rem;
	text-align: center;
}
.forgotPasswordHeaderText {
	margin-top: 0.75rem;
	margin-bottom: 1rem;
	white-space: nowrap;
	font-size: 1rem;
	width: 25rem;
	text-align: center;
}
.forgotPasswordLink {
	color: #000000;
	font-weight: 600;
	text-decoration: none;
}
.forgotPasswordLinkWrapper {
	width: 25rem;
	text-align: center;
	margin-top: 2rem;
}

.buttonWrapper {
	margin-top: 2rem;
}
