.content .name {
  height: 77px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .card {
  width: 276px;
  height: 544px;
  margin-top: 8px;
  overflow: hidden;
  border: none;
  box-shadow: none;
}

.dateLocationPrice {
  margin-top: 12px;
  margin-bottom: 8px;
}

.guests {
  height: 36px;
}

.linkToEvent {
  text-decoration: none;
  color: inherit;
}

.snackbar {
  padding-left: 4rem;
  padding-bottom: 3rem;
}