.nav-list-item > * {
	justify-content: center;
	align-items: center;
}

.inactiveIcon,
.inactiveText {
	color: black;
}

.activeIcon,
.activeText {
	color: #003fe1;
}

.navButton.activeButton {
	background-color: #e7ecfd;
}

.navButton.activeButton:hover {
	background-color: #acc4f4;
}
